<p style="color: green"><%= notice %></p>

<%= render @user2 %>

<div>
  <%= link_to "Edit this user2", edit_user2_path(@user2) %> |
  <%= link_to "Back to user2s", user2s_path %>

  <%= button_to "Destroy this user2", @user2, method: :delete %>
</div>
